{% extends 'base.html.twig' %}

{% block title %}ABOUT{% endblock %}

{% block body %}
<h1>About us</h1>
<p>Latest articles about IT We are a web agency providing tech news to the world</p>
{% endblock %}
