{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>Tech blog</h1>
<p>Latest articles about IT and development</p>

    {% for post in posts %} 
        <article>
            <h3>{{ post.title }}</h3> 
            <p>{{ post.description }}</p>
            {# <a href="{{ path('app_post_show', {'id' : post.id }) }}">Read more</a> #}
        </article>
        <br>
    {% endfor %}

<a href="{{ path('app_about') }}">About us</a>
{% endblock %}
